/** H1 Settings **/

h1 {

    font-family: "Nanum Myeongjo", serif;
}

/**TOP NAVIGATION BAR SETTINGS**/
.topnav {
    overflow: hidden;
    background-color: #6b898f;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: "Nanum Myeongjo", serif;
   
  }
  
  .topnav a:hover {
    background-color: #f5d521;
    color: black;
    width: 60px;
    height: auto;
  }
  
  .topnav a.active {
    background-color: #f5d521;
    color: black;

  }

  /** Divider Settings */
  hr.rounded {
    border-top: 10px solid #6b898f;
    border-radius: 5px;
      }
  /** Table Settings */
      table {
          border: 4px solid #6b898f;
      }
      
      th {
          text-align: center;
          border: 2px solid darkgoldenrod
      }
      
      td {
          border: 2px solid darkgoldenrod;
          text-align: justify;
      }
  
      table.center {
          margin-left: auto;
          margin-right: auto;
      }

      img {
 
  max-width: 100%;
  max-height: 100%;
  float: left;
  border: 7px solid #ffffff;
  border-radius: 4px;
  box-shadow: 2px 1px 10px 5px
   rgba(0, 0, 0, 0.2), 1px 1px 1px 1px 
   rgba(0, 0, 0, 0.19);
   
      }

      .section1 {

        font-family: "Nanum Myeongjo", serif;
  font-size: 17px;
  padding-left: 20px;
  padding-top: 20px;
  float: left;
  height: 570px;
  width: 300px;
  font-style: italic;
  
      }